* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background-color: #ffe8d6;
  height: 100vh;
}

.app {
  display: flex;
  height: 100vh;
}

/* LEFT PANEL */
.calendar-panel {
  width: 60%;
  background-color: #ddbea9;
  padding: 30px;
  color: #6b705c;
}

.calendar-panel h2 {
  margin-bottom: 20px;
  text-align: center;
}

/* Calendar Grid */
.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
}

/* Weekday headers */
.calendar-grid > div:nth-child(-n+7) {
  font-weight: bold;
  text-align: center;
  color: #6b705c;
}

/* Days */
.calendar-grid .day {
  background-color: #b7b7a4;
  color: #ffe8d6;
  padding: 15px;
  border-radius: 8px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}

.calendar-grid .today {
  background-color: #6b705c;
  color: #ffe8d6;
}

.event-dot{
  width: 6px;
  height: 6px;
  background-color: #ffe8d6;
  border-radius: 50%;
  margin: 5px auto 0;
}

/* RIGHT PANEL */
.time-panel {
  width: 40%;
  background-color: #cb997e;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ffe8d6;
}

#current-day {
  font-size: 3rem;
  margin-bottom: 10px;
}

#current-date {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

#current-time {
  font-size: 2.5rem;
  font-weight: bold;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.calendar-header button {
  background-color: #6b705c;
  color: #ffe8d6;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.calendar-header button:hover {
  background-color: #b7b7a4;
}

/* MODAL */
.modal {
  position: fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background:#ffe8d6;
  padding:20px;
  border-radius:8px;
  width:300px;
}

.hidden {
  display: none;
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.modal-btn {
  background-color: #b7b7a4;
  color: #ffe8d6;
  padding: 8px 12px;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
}

.modal-btn:hover {
  background-color: #6b705c;
}
.event-item {
  background:#b7b7a4;
  color:#ffe8d6;
  padding:8px;
  border-radius:6px;
  margin-bottom:5px;
  cursor:pointer;
  text-align:center;
}
